  <input type="hidden" name="recipeId" value="{{recipe.id}}">  
  {{log recipe.id}}
    <form method="post" action="/ingredients_recipes/upsert">
      <h3>Measurement &emsp;&emsp;&emsp;&emsp; Ingredient</h3>
            {{#if ingredientsRecipe}}
            {{#each ingredientsRecipe}} 
            {{log this}}
            <li>{{this.measurement}} {{this.ingredient}} <a href="/ingredients_recipes/delete?id={{this.id}}&recipeId={{this.recipeId}}">delete</a><br>
            {{/each}}
            {{/if}}
            <br>
            <div class="mb-3">
            <input type="text" name="measurement">
            <select name="ingredientId" id="ingredientId">
                {{#each ingredients}}
                <option value="{{this.id}}">{{this.ingredient}}</option>  <br>
                {{/each}}
            </select>
            </div>
        <input type="hidden" name="recipeId" value="{{recipe.id}}">
        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
        <button type="submit" class="btn btn-primary">Add Ingredient</button> <br><br>
        <a href="/recipes/show/{{recipe.id}}">Finish!</a>
    </form>
    
