<form action="/recipes/upsert" role="form" method="post">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    {{#if recipe}}
        <input type="hidden" name="id" value="{{recipe.id}}">
    {{/if}}
    <div>
        <label for="recipe_name">Recipe</label>
        <input type="text" id="recipe_name" name="recipeName"{{#if recipe}}value="{{recipe.recipeName}}"{{/if}}>
    </div>
    <div>
        <label for="time_taken">minutes:</label>
        <input id="time_taken" type="number" name="timeTaken" value={{timeTaken.minutes}}>
    </div>
    <div>
        <label for="category">Category</label>
        <select name="category" multiple id="category">
            <option disabled value>-- Select Category --</option>
            <option value="Breakfast">Breakfast</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Snack">Snack</option>
            <option value="Dessert">Dessert</option>
            <option value="Drink">Drink</option>
        </select>
    </div>
    <div>
        <label for="instructions">Instructions</label>
        <textarea id="instructions" name="instructions" rows="7" cols="50">{{#if recipe.instructions}}{{recipe.instructions}}{{/if}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Go To Ingredients</button>
</form>

{{!-- if recipe
    each Ingredients
        <li>{{this.name}} {{this.quantity}}</li>
    /each
    <form method="post" action="/ingedient_recipy/upsert">
        <select>
            each ingredient
            <option value=""></option>
        </select>
        <input type="hidden" name="reciprt id">
        <input type="number" name="measurement">
        <input type="submit">
    </form>
\if --}}